.Connector {
  height: 40px;
  width: 200px;
  border-right: 2px solid black;
  transition: transform 1s ease-out;
  -moz-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}

.Down {
  -moz-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}